/*Переключатели слайдеров*/
.prev,
.next {
  height: 60px;
  width: 60px;
  align-items: center;
  display: flex;
  cursor: pointer;
  position: absolute;
  top: 10.5em;
  color: white;
  font-weight: bold;
  font-size: 25px;
  border-radius: 50%;
  user-select: none;
  z-index:20000;
  text-align: center;
  justify-content: center;
}
.prev
{
  left: 20px;
}
.next {
  right: 20px;
}
a.prev:hover,a.next:hover{
  text-decoration: none;
}
.button,.cdiv .button{
  background-color: white;
  border: 2px solid rgba(0, 0, 0, 0.1);
  color: #333;
  display: inline-block;
  text-transform: uppercase;
  font-size: 14px;
  height: 36px;
}
.button:hover,.cdiv .button:hover{
  background-color: pink;
  color: white;
}
.cdiv .button{
  margin:15px 20px;
  font-family: 'Open Sans', sans-serif;
}
.cdiv .button:last-child{
    background-color: rgba(0, 0, 0, 0);
    color: #fff;
    border: 2px solid #fff;
}
.cdiv .button:last-child:hover{
  background-color: pink;
}
.ccircle {
  position: relative;
  color: white;
  font-size: 20px;
  text-align: center;
  height: 50px;
  width: 50px;
  border-radius: 50%;
  background-color: pink;
  margin: auto 20px;
}
.ccircle i{
position:absolute;
top: 50%;
left: 50%;
transform: translate(-50%,-50%);
}
.ccircle:hover{
  color: pink;
  background-color: white;
  border: 2px solid pink;
}
