.prev,
.next {
  height: 4em;
  width: 4em;
  align-items: center;
  display: flex;
  cursor: pointer;
  position: absolute;
  top: 50%;
  color: white;
  font-weight: bold;
  font-size: 20px;
  border-radius: 50%;
  user-select: none;
  z-index:20000;
  text-align: center;
  justify-content: center;
}
.prev
{
  left: 1em;
}
.next {
  right: 1em;
}

a:hover{
  text-decoration: none;
}
.button,.cdiv .button{
  border-width: 102px;
  background-color: white;
  border: 2px solid rgba(0, 0, 0, 0.1);
  color: #333;
  display: inline-block;
  height: 36px;
  line-height: 32px;
  padding: 0 25px;
  background: #fff;
  text-transform: uppercase;
  font-size: 14px;
}
.button:hover,.cdiv .button:hover{
  border-width: 102px;
  background-color: pink;

  border: 2px solid rgba(0, 0, 0, 0.1);
  color: white;
  display: inline-block;
  height: 36px;
  line-height: 32px;
  padding: 0 25px;
  background: pink;
  text-transform: uppercase;
}
.cdiv .button:last-child{
    background-color: rgba(0, 0, 0, 0);
    border: 2px solid rgb(255, 255, 255);
    color: #fff;
}
.cdiv .button:last-child:hover{
  border-width: 102px;
  background-color: pink;
  border: 2px solid rgba(0, 0, 0, 0.1);
  color: white;
  display: inline-block;
  height: 36px;
  line-height: 32px;
  padding: 0 25px;
  background: pink;
  text-transform: uppercase;
}

.ccircle {
  color: white;
  font-size: 2em;
  height: 2em;
  text-align: center;
  width: 2em;
  border-radius: 50%;
  background-color: pink;
  padding: 0.5em;
  margin: auto 10px auto auto;
}

.cdiv .button{
  margin:2em;
  font-family: 'Open Sans', sans-serif;
}