.whiteBlock{
	background-color: white;
}
.grayBlock{
	background-color: #dbdbdb;
}
.blackBlock{
		background-color: #2e2e2e;
}
.fa-star.checked{
	color: orange;
}
.red{
	color: red;
}
.purple{
color: pink;
}
.white{
	color: white;
}