 @import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Poppins:wght@700&display=swap');	

/*Размеры*/
h2{
	font-size:1em;
}
.newCollection h2{
	font-size:1.5em;
}
.bigBox h3, .sideImgContainer h3,.imgRow h3{
		font-size: 1em;
}
#logo span{
	font-size: 2em;
}
/*Семейство*/
body,p,li,span{
	font-family: 'Open Sans', sans-serif;
}
h1,h2,h3,h4, #logo span,.cdiv *{
	font-family: 'Poppins', sans-serif;
	text-transform: uppercase;
	text-align: center;
}

.bigBox h3,.sideImgContainer h3{
	font-size:1em;
}
.circleline h2{
	font-size: 1em;
	text-align: left;
}
.imgRow {
	text-align: center;
}
/*Цвет*/
.footer p, .footer li,.footer span,.bigBox span{
	color: #999;
}
.white,.footer span.white, .cbottom ul li,.mh{
color: white;
}
.red{
	color: red;
	}
.purple{
color: pink;
}

/*Выравнивание*/
ul{
	padding-left: 0;
}
.imgRow, .newCollection h2{
	text-align:center;
}
.cramped *{
	line-height: 0.05;
}
/*Трансформация*/
.imgRow h3,.circleline h2,.footer h2{
	text-transform: uppercase;
}
.cnavbar{
	padding-left: 5em;
}
/*Линии*/
hr{
	margin-top:  2.5em;
	color: rgba(255, 255, 255, 0.2) ;
	height: 1px;
	background-color: #b3b3b3;
	border: none;
  }
  
  .footer hr{
	color: rgba(255, 255, 255, 0.2) ;
	height: 1px;
	background-color: #bdbdbd;
	border: none;
  }
/*Специфичные*/
.cdiv {
 	line-height: 0.7;
}
.cdiv div:first-child{
 	font-size: 2em;
 z-index: 40000;

}
.cdiv div:nth-child(odd){
 z-index: 30000;
}
.cdiv div {
	font-size: 4em;
}
.headinfo ul li {
	text-transform: uppercase;
	font-weight: 700;
	padding: 0 15px;
	font-family: 'Poppins', sans-serif;
	display:inline;
	color:white;
}