 @import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Poppins:wght@700&display=swap');	

/*Размеры*/
.circleline h2{
	font-size: 14px;
}
h3{
	font-size: 16px;;
}
h2{
	font-size:30px;
	text-align: center;
}
.small{
	scale:0.75;
}
/*Семейство*/
body,p,li,span{
	font-family: 'Open Sans', sans-serif;
}
h1,h2,h3,h4, #logo span,.cdiv *{
	font-family: 'Poppins', sans-serif;
	text-transform: uppercase;
}
/*Цвет*/
.footer p, .footer li,.footer span,.bigBox span{
	color: #999;
}
.footer span.white, .cbottom ul li,.mh{
color: white;
}
/*Выравнивание*/
.cnavbar{
	padding-left: 5em;
}
ul{
	padding-left: 0;
}
.imgRow, .newCollection h2{
	text-align:center;
}
.cramped {
margin:1em}
.cramped *{
	line-height: 0.05;
}
.circleline h2{
	text-align: left;
}
.imgRow {
	text-align: center;
}
/*Трансформация*/
.imgRow h3,.circleline h2,.footer h2{
	text-transform: uppercase;
}
/*Линии*/
hr{
	margin-top:  2.5em;
	color: rgba(255, 255, 255, 0.2) ;
	height: 1px;
	background-color: #b3b3b3;
	border: none;
  }
  
  .footer hr{
	color: rgba(255, 255, 255, 0.2) ;
	height: 1px;
	background-color: #bdbdbd;
	border: none;
  }
/*Специфичные*/
