	@import "fonts.css";
	@import "slideshow.css";
	@import "fonts.css";
	@import "footers.css";
	@import "header.css";
	@import "newcollections.css";
	@import "buttons.css";
	@import "colors.css";
	@import "img.css";
	@import "media.css";


	.container{
		padding: 1em 0 2em 0;
	}
	.imgRow{
		padding: 2em;
	}
	.imgRow .box {
		display: inline-block;
		width: 70%;
		height: auto;
		text-align: center;
	}
	.boxwcc{
		float: none;
		display: inline-flex;
		margin-left: 1em;
	}
  
  