
/*Верхний слайд*/
.mh{
  position: absolute;
  width:100%;
  z-index:1000;
  background: rgba(255, 255, 255, 0.2) none repeat scroll 0 0;
  height: 8.5em;
}
#logo{
	display: inline-flex;
	padding-left:40px;
	font-size: 25px;
}
.cnavbar{
	display: inline-flex;
	margin-bottom:0;
	align-items: center;
}
.cnavbar>ul{
	display: inline;
}
.headinfo{
	display: inline-flex;
	width: 100%;
}
.contacts{
	float: left;
	display: inline-flex;
	text-align: left;
  }
  .contacts>li {
	  list-style: none;
	  margin-right: 1em;
  }

/*Язык*/

.userLangs li:not(:first-child) {
	padding-left: 1ch;
  }
.userLangs li:not(:first-child)::before {
	content: '|';
	margin-right: 1ch;
}


/*Большие слайды*/
.cdiv {
   line-height: 0.7;
   top: 10.5em;
}
.cdiv div:first-child{
	font-size: 30px;
	z-index: 40000;
}
.cdiv div:nth-child(odd){
z-index: 40000;
}
.cdiv div {
   font-size: 60px;
}
/*Навбар*/
.headinfo ul li {
   text-transform: uppercase;
   font-weight: 700;
   padding: 0 15px;
   font-family: 'Poppins', sans-serif;
   display:inline;
   color:white;
}
	