.bigBox{
	display:inline-flex;
}
.imgContainer img{
	margin: 1em;
}
.hImgContainer img{
	margin: 0.5em;
}
.sideImgContainer img {
	width:100%;
}
.bigBox>img{
	margin: 1em 1em 1em 0em;
}
.NCDescription {
  padding: 1em;
}
.discount-wrapper{
	position: relative;
	padding:1em;
} 
.discount{
	background-color: pink;
	color: white;
	position: absolute;
	right: 0;
	transform: translate(-25%,-25%);
	line-height: 2;
	bottom: 0;
	padding: 1em;
}