.ccarousel{
 text-align: center;
}
.mySlides {
  display: none;
  font-size: 2em;
}
.mySlides img{
  height: auto;
}
.cursor {
  cursor: pointer;
}

.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}
.cdiv{
  position: absolute;
  text-align: center;
  left: 50%;
  transform:translate(-50%,-50%) ;
}

.sh{
  position: relative;
  width:100%;
 }